@import "tailwindcss";
@import "./typography.css";

html{
  --background: #0d1117;  /* Darker deep blue-gray background */
  --foreground: #f0f4f8;  /* Light blue-white text */
  --muted-background: #2d3748;
  --meta: #1877F2;
  --alphabet: #EA4335;
  --amazon: #FF9900;
  --apple: #A2AAAD;
  --microsoft: #7FBA00;

  --orbit1-revolve-time: 12s; 
  --orbit2-revolve-time: 16s; 
  --orbit3-revolve-time: 24s; 
  --orbit1-size: 150px;
  --orbit2-size: 300px;
  --orbit3-size: 450px;
  --orbit1-amplitude: calc(var(--orbit1-size));
  --orbit2-amplitude: calc(var(--orbit2-size));
  --orbit3-amplitude: calc(var(--orbit3-size));
} 

@theme {
  --font-sans: 'Inter Variable', 'sans-serif';
  --font-mono: 'Roboto Mono Variable', monospace;
  --font-headers: 'Rubik Variable', 'sans-serif';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-background: var(--muted-background);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-meta: var(--meta);
  --color-alphabet: var(--alphabet);
}

@source inline('bg-{meta,alphabet,apple,microsoft,amazon}');

@layer base {
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-sans text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,

  h1, h2, h3, h4, h5, h6 {
    @apply font-headers;
  }

  h1{
    @apply font-semibold tracking-wider text-7xl/27;
  }

  h2{
    @apply font-bold tracking-wide text-4xl/22;
  }
}

a{
  @apply !font-normal;
}

p{
  @apply font-normal;
}

.prose{
  @apply text-base/6 sm:text-lg/7 ;
}

.prose p{
  @apply mb-0 font-normal;
}

/*********** Orbiting animation ************/

@property --angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@keyframes revolve {
  from { --angle: 0deg; }
  to { --angle: 360deg; }
}

.monopoly-container{
  @apply justify-center items-center flex text-white text-center h-fit ;
}

.monopoly-zone{
  @apply grid justify-center text-center items-center flex m-auto size-[calc(var(--orbit3-size)*2.2)] ;
}

.orbit-1{
  @apply grid justify-center size-[calc(var(--orbit1-size)*2)] rounded-full place-items-center border-2 border-gray-200/20 ;
}

.orbit-2{
  @apply grid justify-center size-[calc(var(--orbit2-size)*2)] rounded-full place-items-center border-2 border-gray-200/20 ;
}

.orbit-3{
  @apply grid justify-center size-[calc(var(--orbit3-size)*2)] rounded-full place-items-center border-2 border-gray-200/20 ;
}

.orbit-center{
  grid-area: 1 / 1;
  @apply self-center justify-self-center text-center; 
}

.subsidiary{
  grid-area: 1 / 1;
}

.subsidiary.zone-1{
  --x: calc(cos(var(--angle)) * var(--orbit1-amplitude));
  --y: calc(sin(var(--angle)) * var(--orbit1-amplitude));
  translate: var(--x) var(--y);
  animation: revolve var(--orbit1-revolve-time) linear infinite;
}

.subsidiary.zone-2{
  --x: calc(sin(var(--angle)) * var(--orbit2-amplitude));
  --y: calc(cos(var(--angle)) * var(--orbit2-amplitude));
  translate: var(--x) var(--y);
  animation: revolve var(--orbit2-revolve-time) linear infinite;
}

.subsidiary.zone-3{
  --x: calc(cos(var(--angle)) * var(--orbit3-amplitude));
  --y: calc(sin(var(--angle)) * var(--orbit3-amplitude));
  translate: var(--x) var(--y);
  animation: revolve var(--orbit3-revolve-time) linear infinite;
}